<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz 3</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'common.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <a href="{% url 'index' %}">
        <img src="https://i.ibb.co/7SwXPgX/nybbt.jpg" alt="NYBB Logo" class="logo">
    </a>
    <h1>Genetic Odyssey</h1>

    <div class="score-board">
        <span>{{request.user}}</span>
        <span>Score: {{request.user.team.score}}</span>
    </div>

    <div class="clue">
        <div class="clue-1">
            Now that we know the disease is caused by mutations in the PAH gene, 
            resulting in Phenylalanine Hydroxylase deficiency, leading to the accumulation 
            of Phenylalanine in the body, we need to produce and supply it to the body. This will be 
            done using recombinant DNA technology, utilizing bacteria for the production process. 
            Bacteria can be found in the following locations:

            <div>
            <br>
            Location 1: <br>
                In a quiet realm, where whispers roam,<br>
                Pages whisper secrets, a silent tome.<br>
                Seek me where knowledge finds its home,<br>
                In halls where thoughts and dreams have flown.<br>
                <br>
            Location 2:<br>
                With flag held high and book in hand,<br>
                Two students brave take their stand.<br>
                A symbol of hope, a nation's plea,<br>
                What war memorial stands tall and free?<br>
            </div>

            <p>
                Hint: Unlock Key is the Word Value of bacteria
            </p>
        </div>
    </div>

<br>


<form action="{% url 'quiz3' %}" method="post"> {% csrf_token %}
    <input type="text" name="UnlockKey" placeholder="Unlock Key"> 
    <button type="submit" class="button button-red">Submit</button>
</form>

<div class="status">
    {% if request.user.team.quiz_3_status == False %}
        <span>Quiz 3: Unsolved</span>
    {% else %}
        <span>Quiz 3: Solved</span>
        <a href="{% url 'quiz4' %}" class="button button-green">Quiz 4</a>
    {% endif %}
</div>


<footer><span>&copy; 2024 | </span> <span><a href="#">NYBB - SUST</a></span></footer>

</body>
</html>
