<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="question">
        <h2>select appropiate vector for the experiment</h2>
        <input type="radio" id="q1_option1" name="q1" value="pDR540">
        <label for="q1_option1">pDR540</label><br>
        <input type="radio" id="q1_option2" name="q1" value="pBluescript">
        <label for="q1_option2">pBluescript</label><br>
        <input type="radio" id="q1_option3" name="q1" value="pGEX">
        <label for="q1_option3">pGEX</label><br>
        <input type="radio" id="q1_option4" name="q1" value="pACYC184">
        <label for="q1_option4">pACYC184</label><br>
    </div>


    <div class="question">
        <h2>Choose restriction enzyme by their recognition site</h2>
        <input type="checkbox" id="q_option1" name="q1" value="AaaI">
        <label for="q_option1">CGGCG</label><br>
        <input type="checkbox" id="q_option2" name="q2" value="HpaII">
        <label for="q_option2">CCGG</label><br>
        <input type="checkbox" id="q_option3" name="q3" value="EcoRI">
        <label for="q_option3">GAATTC</label><br>
        <input type="checkbox" id="q_option4" name="q4" value="NotI">
        <label for="q_option4">GCGGCCGC</label><br>
    </div>

</body>
</html>