<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz 2</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'common.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <style>
        .clue-2 a{
            text-decoration: none;
        }        
    </style>
</head>
<body>
    <a href="{% url 'index' %}">
        <img src="https://i.ibb.co/7SwXPgX/nybbt.jpg" alt="NYBB Logo" class="logo">
    </a>
    <h1>Genetic Odyssey</h1>

    <div class="score-board">
        <span>{{request.user}}</span>
        <span>Score: {{request.user.team.score}}</span>
    </div>

    <div class="clue">
        <div class="clue-1">
            Unlocking the Laptop a folder called MindCircuit contains some note. The note contains some information. 
            “My findings are this disease is due to some mutation in a gene located in a autosome. It is a inherited 
            disorder but somehow people of Luminescia getting induced by the mutation and it is spreading to next generation.
            You have come this far it your duty to find out what is the reason and Find a cure for the people of Luminescia. I've 
            fear someone is trying to stop our research. I've backuped my research into severals clues. You need to go through 
            the problems. Find the location of the gene. I hope you can cure my people. Good bye.
        </div>

        <div class="clue-2">
            <span><a href="https://drive.google.com/file/d/1oqq1tqI-d6YICBI6dArz4BT-05aI0Kun">unknown.txt</a></span>
        </div>
    </div>

<br>


<form action="{% url 'quiz2' %}" method="post"> {% csrf_token %}
    <input type="text" name="geneL" placeholder="Gene Location"> 
    <button type="submit" class="button button-green">Submit</button>
</form>

<div class="status">
    {% if request.user.team.quiz_2_status == False %}
        <span>Quiz 2: Unsolved</span>
    {% else %}
        <span>Quiz 2: Solved</span>
        <a href="{% url 'quiz3' %}" class="button button-red">Quiz 3</a>
    {% endif %}
</div>


<footer><span>&copy; 2024 | </span> <span><a href="#">NYBB - SUST</a></span></footer>

</body>
</html>
