<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman Game JavaScript | CodingNepal</title>

    {% load static %}

    
    <link rel="stylesheet" href="{% static 'quiz4.css' %}">
    <link rel="stylesheet" href="{% static 'common.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <script src="{% static 'word-list.js' %}"></script>

    <style>
         h1{margin: 20px;}
        .score-board span{box-sizing:content-box;}
    </style>
</head>
<body>
    <a href="{% url 'index' %}">
        <img src="https://i.ibb.co/7SwXPgX/nybbt.jpg" alt="NYBB Logo" class="logo">
    </a>
    <h1>Genetic Odyssey</h1>

    <div class="score-board">
        <span>{{request.user}}</span>
        <span>Score: {{request.user.team.score}}</span>
    </div>

    <div class="game-modal">
        <div class="content">
            <img src="#" alt="gif">
            <h4>Game Over!</h4> <br>
            <button class="play-again">Play Again</button><br>
            <button onclick="window.location.href=`{% url 'index' %}`" class="play-again click-me">Click Me</button>
        </div>
    </div>
    <div style="display: flex; justify-content: center;">
        <div class="container">
            <div class="hangman-box">
                <img src="#" draggable="false" alt="hangman-img">
                <h1>Hangman Game</h1>
            </div>
            <div class="game-box">
                <ul class="word-display"></ul>
                <h4 class="hint-text">Hint: <b></b></h4>
                <h4 class="guesses-text">Incorrect guesses: <b></b></h4>
                <div class="keyboard"></div>
            </div>
        </div>
    </div>

    <footer><span>&copy; 2024 | </span> <span><a href="#">NYBB - SUST</a></span></footer>


  <script>
    console.log('ok')
  </script>

</body>
</html>