<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>

    {% load static %}

</head>
<body>

    

    <h1>Sign In</h1>


    <form method="post" action=""> {% csrf_token %}

        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Enter Your Username" Required>

        <label for="pass1">Password</label> 
        <input type="password" name="pass1" placeholder="Enter Your Password" id="pass1"  Required>
 
        <button type="submit">Sign In</button>

    </form>
    
    <footer><span>&copy; 2024 | </span> <span><a href="#">Soash</a></span></footer>

    
</body>
</html>